.forgot-password-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; /* Adjust if needed */
}

.forgot-password-container {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.forgot-password-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

.forgot-password-container input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.forgot-password-container button {
  width: 100%;
  padding: 10px;
  background-color: #1c1623;
  color: #fdfdfd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* .forgot-password-container button:hover {
  background-color: #0056b3;
} */

.error-message {
  color: red;
  margin-top: 10px;
}

.reset-success-message {
  color: green;
  margin-top: 10px;
}
